* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #333;
  color: #fff;
  font-size: 1.3rem;
  padding: 10px;
  width: 100vw;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 40vw;
  margin: 2rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.inputs-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.input-forms {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 1rem;
}

.warning {
  color: red;
  font-size: 0.8rem;
}

.add-button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: green;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.button-create {
  width: 90%;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: blue;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}