.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 50vw;
  margin: 1rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.list-all-votings {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
}

.voting {
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}